---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Nicolas RIncon"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				 Soy Nicolás Rincón, Ingeniero en Multimedia egresado de la Universidad Militar Nueva Granada. Apasionado por el diseño digital y la tecnología, especializado en UI/UX. Combino creatividad y funcionalidad para diseñar interfaces intuitivas y experiencias centradas en el usuario. Manejo herramientas como HTML, CSS y Python, además de contar con experiencia en modelado y animación 3D. Siempre busco nuevos desafíos que impulsen mi crecimiento profesional y creativo
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
